:root {
    --grid-cols: 16;
    --grid-rows: 16;
  }

* {
    margin: 0;
    padding: 0;
}

html, body{
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

.mainContainer {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #ededed;
}

.header {
    background: #ededed;
    flex: 10;
    margin-top: 10px;
    margin-bottom: 20px;
}

.header h1 {
    font-size: 85px;
    color: #333;
}

.main {
    background: #ededed;
    justify-items: center;
    flex: 94;
    color: #333;
}

.footer {
    background: #ededed;
    color: #333;
    flex: 1;
    margin-bottom: 5px;
}

.container {
    box-sizing:border-box;
    width: 500px;
    height: 500px;
    margin: 0;
    padding: 0;
    border: 0;
    justify-items: center;
    align-items: center;
    display: grid;
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr);
    border: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background: white;
}

.buttons {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 30px;
    gap: 10px;
}

button {
    width: 100%;
    border: none;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
    outline: none;
    padding: 10px 20px;
    border: 1px solid #333;
    border-radius: 5px;
    background: #ededed;
}

button:hover {
    transform: scale(1.05);
    background: #fefefe;
}

.gridItem {
    display: grid;
    width: 100%;
    height: 100%;
    text-align: center;
}

.slidecontainer {
    width: 500px;
}
  
.slider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 25px;
    background: #fefefe;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}
  

.slider:hover {
    opacity: 1;
}
  
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: white;
    cursor: pointer;
}
  
.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #333;
    cursor: pointer;
}

footer {
    width: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    background-color: #333333;
    color: white;
    position: fixed;
    bottom: 0;
}

#img-github {
    width: 30px;
    transition: transform 0.3s ease-in-out;
}

#img-github:hover {
    transform: rotate(360deg) scale(1.2);
}